<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engineer.assist.mapper.ProjectDataMapper">
    <resultMap id="BaseResultMap" type="com.engineer.assist.entity.ProjectData">
        <!--@mbg.generated-->
        <!--@Table project_data-->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="data_name" jdbcType="VARCHAR" property="dataName" />
        <result column="data_type" jdbcType="VARCHAR" property="dataType" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, created_by, data_name, data_type, project_id, `source`, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List" />
        from project_data
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from project_data
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.engineer.assist.entity.ProjectData" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project_data (create_time, created_by, data_name,
        data_type, project_id, `source`,
        update_time,pic)
        values (#{createTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{dataName,jdbcType=VARCHAR},
        #{dataType,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR},
        #{updateTime,jdbcType=TIMESTAMP},#{pic,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.engineer.assist.entity.ProjectData" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into project_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="dataName != null">
                data_name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="projectId != null">
                project_id,
            </if>
            <if test="source != null">
                `source`,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataName != null">
                #{dataName,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                #{projectId,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.engineer.assist.entity.ProjectData">
        <!--@mbg.generated-->
        update project_data
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="dataName != null">
                data_name = #{dataName,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                `source` = #{source,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.engineer.assist.entity.ProjectData">
        <!--@mbg.generated-->
        update project_data
        set create_time = #{createTime,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=VARCHAR},
        data_name = #{dataName,jdbcType=VARCHAR},
        data_type = #{dataType,jdbcType=VARCHAR},
        project_id = #{projectId,jdbcType=INTEGER},
        `source` = #{source,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>